---
import { Icon } from 'astro-icon/components'
import { SOCIAL } from '../../data'

const noLabel = Astro.props['no-label'] ?? false

---
<nav id={Astro.props.id}>
    <div class={`grid grid-cols-6`}>
        {Object.entries(SOCIAL).map(([key, social]) => (
            <a href={social.url}
                class="group h-10 w-full text-white hover:bg-[var(--accent-color)] flex items-center justify-center gap-3 transition-all duration-200"
                style={`--accent-color: ${social.accentColor}`}
                data-social={key}
                target="_blank"
                aria-label={social.label}
                title={noLabel ? social.label : undefined}
                data-tooltip-placement="bottom"
                rel="external">
                <Icon name={social.icon} class:list={['transition-all duration-200', {'size-5 mx-3': noLabel, 'size-4 group-hover:size-5': noLabel}]} />
                {!noLabel && <span class="hidden md:block group-hover:text-xl transition-all duration-200">{social.label}</span>}
            </a>
        ))}
    </div>
</nav>
